@import url('font_game_over.css');

/* Reset inicial de todos elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
}

.score{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: 1px 2px 4px black;
    z-index: 2;
}


.score .title-score{
    font-size: 14px;
    letter-spacing: 1px;
}

.coin{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.align-score{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
}

/* .pause{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: 1px 2px 4px black;
    z-index: 2;
    letter-spacing: 2px
} */

/* .paused{
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 4px black;
    letter-spacing: 4px;
    font-family: 'Press Start 2P', cursive;
    display: none;
} */

/* .text-pause{
    font-size: 30px;
    text-shadow: 1px 2px 4px black;
    transition: ease-out 1s;
    letter-spacing: 1.5px;
} */

.game-board{
    width: 100%;
    height: 80vh;
    border-bottom: 15px solid rgb(20, 168, 20);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 85px;
    animation: pipe-animation infinite 2s linear;
}

.clounds{
    width: 550px;
    top: 70px;
    position: absolute;
}
.clound-animation{
    animation: clound-animation infinite 12s linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}
.jump{
    animation: jump 500ms ease-out;
}

.background-floor{
    position: absolute;
    height: 25.5vh;
    width: 100%;
    overflow-y: unset;
    background-image:url('./images/floor.jpg');
}
.floor-animation{
    animation: slide-background 15s linear infinite;
}

.game-over{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 95vh;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 4px black;
    letter-spacing: 4px;
    font-family: 'Press Start 2P', cursive;
    flex-direction: column;
    animation: game-over-animation 1.5s linear;
    display: none;
}

.game-over .continue{
    margin-top: 60px;
    font-size: 22px;
    text-shadow: 1px 2px 4px black;
    opacity: 0;
    transition: ease-out 1s;
    letter-spacing: 1px;
}

.color-continue{
    color: #01bc01; 
}

.color-pause{
    color: #bc0101; 
}

.signature{
    position: absolute;
    bottom: 15px;
    right: 10px;
    background-color: #ffffff80; /* Cor de fundo com transparência */
    padding: 15px;
    border-radius: 20px;
    text-decoration: none !important;
}

.name-signature{
    color: white;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 2px 4px black;
    letter-spacing: 1.5px;  
}
a{
    text-decoration: none !important;
}

/*Animation Mario */
@keyframes jump{

    0%{
        bottom: 0px;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

/*Animation pipe */
@keyframes pipe-animation{
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

/*Animation clounds */
@keyframes clound-animation{
    from{
        right: -550px;
    }

    to{
        right: 100%;
    }
}

/* Animation floor */
@keyframes slide-background {
    0% {
        background-position:  0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

/* Animation title game over */
@keyframes game-over-animation{
    from{
        bottom: 60%;
    }
    to{
        bottom: 5%;
    }
}

@keyframes continue-animation {
    from {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

